filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
http.sslbackend=openssl
http.sslcainfo=xxx
core.autocrlf=false
core.fscache=true
core.symlinks=false
core.repositoryformatversion=0
core.filemode=false
core.bare=false
core.logallrefupdates=true
core.ignorecase=true
pull.rebase=true
credential.helper=manager-core | osxkeychain
init.defaultbranch=main
alias.st=status
alias =! git config --get-regexp ^alias\. | sed -e s/^alias\.// -e s/\ /\ =\ /
unstage =reset HEAD --
pr=pull --rebase
localdelete= branch -D
remotedelete= push origin --delete
cancelalias= config --global --unset
undolast= reset HEAD~
addncommit= commit -asm
push= p
newremote= push --set-upstream
addall= add -A
newlocal= checkout -b
user.email=your-mail@your-domain
user.name=your-gh-username
user.signingkey=your-gpg-key-hash
commit.gpgsign=true
push.autosetupremote=true
